.submit-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.submit {
  display: block;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  background: #037bb4;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.2s;
}

.submit:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.aside {
  margin-top: 30px;
  padding: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px dashed #bbb;
  border-radius: 10px;
}

.aside-half {
  width: 45%;
}

.aside-third {
  width: 27%;
}

.formInput {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  background: #efefef;
  border-radius: 5px;
  border-bottom: 1px solid #3cb0fd;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #444;
}

.formSelect {
  width: 100%;
  height: 30px;
  width: 200px;
  box-sizing: border-box;
  font-size: 14px;
  background: #efefef;
  border-radius: 5px;
  border-bottom: 1px solid #3cb0fd;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #444;
}

.label-select {
  display: flex;
  justify-content: space-between;
}

.formInput:focus,
.formSelect:focus,
.textarea,
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #e2e2e2;
}

::placeholder {
  color: #bbb;
  font-style: italic;
}

.label {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.label input {
  height: 16px;
  width: 16px;
}

.textarea {
  width: 100%;
  height: 80%;
  font-size: 14px;
  padding: 5px;
  background: #efefef;
  border-radius: 5px;
  border-bottom: 1px solid #3cb0fd;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
