.header {
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
}

.english {
  display: flex;
  justify-content: center;
  align-items: center;
}

.english span {
  margin: 5px;
  font-style: italic;
}
